@import url('customproperties.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: linear-gradient(160deg, var(--color-primary-dark) 0%, var(--color-primary) 40%, var(--color-primary-light) 100%);
    min-height: 100vh;
}

.grid-estructuracion {
    margin: 0 auto;
    margin-top: 200px;
    width: 70vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.8fr;
}

.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-size: larger;
    font-weight: 600;
}