body
{
    margin: 0;
}

.grid-contenedores
{   
    margin-top: 30xp;
    margin-left: 12px;
    height: 450px;
    width: 350px;
    display: grid;
    grid-template-columns:  2fr  ;                                                                     ;
    grid-template-rows:  [linea-row-2] 50px [linea-row-3] 1fr [linea-row-4] 1fr;
    gap: 40px;
}

.empleador
{
 
}
.empleado
{

}